<header class='masthead'>
    
    <h1 class='masthead-heading'>AUTOR</h1>
  </header>
  <section class="introduction-section">
      <h1>O autoru:</h1>
    
    
      <p>Ja sam Aleksa Komosar, student 3. godine smera Inženjerstvo informacionih sistema.</p>
      <p>Moj broj indeksa je IT21/2018. </p>
        <p>U slobodno vreme volim da gledam serije i da se družim sa prijateljima. Rad na ovom projektu mi je doneo mnogo znanja, ali i nerviranja povodom komitovanja frontenda na GitHub.</p>  
    <p>Naučio sam mnoge stvari i unapredio svoje znanje vezano za GitHub. :)</p>
    </section>